<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das ist Justins Webseite2</title>
    <link href="../stylesheet.css" rel="stylesheet">
    <script src="../myscripts.js" type="text/javascript"></script>

</head>

<nav class="navbar">

    <button class="startseite_btn btn" onclick='go_somewhere("./view.html")'>Startseite</button>
    <button class="andereseite_btn btn" onclick="go_somewhere('./View2.html')">Zur anderen Seite</button>

</nav>

<body>

</body>
</html>